@font-face {
    font-family: "Fira Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Fira Sans Regular"), local("Fira-Sans-Regular"),
    url('FiraSans-Regular.ttf') format("truetype");
  }
  @font-face {
    font-family: "Fira Sans SemiBold";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: local("Fira Sans SemiBold"), local("Fira-Sans-SemiBold"),
    url('GiraSans-SemiBold') format("truetype");
  }
  