
:root {
  --main-bg-color: #edf2f7;
  --main-border-color: #e2e8f0; 
  /* --shadow-color: rgb(204, 204, 204); */
  --accent-color: #c42026;
  --text-color: #000;
  --text-dark-color: #4a5568;
  --text-heading-color: #7f6c5e;
  --text-muted-color: #b9aba1;
  --text-inv-color: #eee;
  --text-accent-color: #7f6c5e;
  --icon-color: #6c757d;
  --btn-color: #fff;
  --btn-inv-color: #4a5568;


}

body a {
  color: var(--text-accent-color);
}

body a:hover {
  color: var(--accent-color);
  text-decoration: none;
}

code {
  color: var(--accent-color);
}



.text-muted {
  color: var(--text-muted-color);
}

.text-muted:hover{
  color: var(--accent-color) !important;
}

label:text-muted,
.nav-link.text-muted,
.nav-link{
  font-family: "Fira Sans";
  color: var(--btn-inv-color) !important;
  background-color: var(--main-bg-color) !important;
}

.nav-link.active.text-muted,
.nav-link.active {
  color: var(--btn-color) !important;
  background-color: var(--btn-inv-color) !important;
}


.nav-link.text-muted:hover {
  /* color: var(--btn-color) !important; */
  /* color: var(--btn-inv-color) !important; */
  box-shadow: 0 4px 6px -1px rgba(0,0,0,.1), 0 2px 4px -1px rgba(0,0,0,.06);
}

.nav-link.active.text-muted:hover {
  /* background-color: var(--main-bg-color) !important;
  color: var(--btn-inv-color) !important; */
  box-shadow: 0 4px 6px -1px rgba(0,0,0,.1), 0 2px 4px -1px rgba(0,0,0,.06);
}


body {
  font-family: "Fira Sans", sans-serif;
  background-color:  var(--main-bg-color);  /* rgba(236, 241, 246, 1); */
}

.container a:hover {
  text-decoration: none;
}

h2.jumbotron-h {
  font-family: "Zilla Slab SemiBold", sans-serif;
  font-size: 2.5em ;
  color: var(--text-inv-color);
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: lighten; 
}

h3.jumbotron-date {
  font-family: "Fira Sans", sans-serif;
  font-size: 1.5em;
  color: var(--text-inv-color);
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: lighten; 
}

h1,
h2,
h3 {
  font-family: "Zilla Slab SemiBold";
  font-weight: bold;
  color: var(--text-heading-color);
}

.btn .active, 
.btn.btn-outline-secondary.active {
  background-color: var(--btn-inv-color) !important;
}

.btn-group {
  background-color: var(--btn-color);
}

.btn {
  background-color: var(--btn-color);
}

.btn:hover {
  background-color: var(--btn-inv-color);
}


.gdpr-btn:hover {
  color: var(--btn-color) !important;
  background-color: var(--accent-color) !important;
}

.gdpr-btn {
  color: var(--btn-inv-color) !important;
  border: var(--main-border-color) !important;
  background-color: var(--btn-color) !important;
}



#main-nav {
  padding-top: 10px;
  padding-bottom: 10px;
}

.header {
  font: "Zilla Slab";
}

.pp-card {
  font-family: "Zilla Slab";
  box-shadow: 0 0 14px 0 var(--main-border-color);
  margin-bottom: 1em;
  display: block;
  overflow: hidden;
}

.pp-card-header {
  border: 4px solid var(--main-border-color);
  font-family: "Zilla Slab";
  height: 340px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.pp-mode-list .pp-card-header {
  height: 175px;
  border: 1px solid var(--main-border-color);
}

.pp-card-footer {
  position: absolute;
  width: 100%;
  bottom: 3px;
}

.pp-mode-list .pp-card-header .card-title {
  font-size: 17px;
}

.cards_img {
  margin-top: 20px;
  border-radius: 2px;
  max-height: 130px;
  object-fit: scale-down;
}




.container {
  margin-top: 10px;
}

.card {
  font-family: "Zilla Slab";
}

.card-header {
  font-family: "Zilla Slab";
}

.card-header .card-title {
  font-family: "Zilla Slab";
}

.cards.myCard {
  display: flex;
  flex-flow: wrap;
  margin-left: 0;
  box-sizing: border-box;
}

.cards {
  margin-top: 10px;
}

.card-title {
  margin-top: 10px;
  font-size: 20px;
}

h2.card-title {
  margin-top: 10px;
  font-size: 30px;
}

h3.card-subtitle.text-muted {
  margin-top: 10px;
  font-size: 20px;
  color: var(--text-muted-color);
}

.card-subtitle.text-muted {
  text-align: center;
  font-size: 13px;
  color: var(--text-muted-color);
}

.main-title {
  font-weight: 700;
  color: var(--text-heading-color);
  font-family: "Zilla Slab";
}

.myAccordion {
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 18px;
  padding-left: 15px;
  padding-bottom: 10px;
  padding-right: 15px;
  padding-top: 10px;
  background-color: rgba(255, 255, 255, 1);
}

.sponsorLogo {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.slp iframe {
  background: #fff;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* .carousel-inner .carousel-item-right.active, */

/* .carousel-inner .carousel-item-next { */

/*   transform: translateX(25%); */

/* } */

/* .carousel-inner .carousel-item-left.active, */

/* .carousel-inner .carousel-item-prev { */

/*   transform: translateX(-25%); */

/* } */

/* .carousel-inner .carousel-item-right, */

/* .carousel-inner .carousel-item-left{ */

/*   transform: translateX(0); */

/* } */

.carousel-control-prev-icon {
  filter: invert(1);
  transform: translateX(-200%);
}

#main-nav {
  /* background-color: #b9aba1; */
  background-image: url('/static/css/hex-pattern.png');
}

div.anchor {
  display: block;
  position: relative;
  top: -250px;
  visibility: hidden;
}

.carousel-control-next-icon {
  filter: invert(1);
  transform: translateX(200%);
}

.border {
  background: #fff;
  padding: 10px;
  border: 4px solid #eee;
  box-shadow: var(--main-border-color) 2px 2px 14px 0;
}

tr.fc-list-item {
  cursor: pointer;
}

.details {
  font-family: "Fira Sans", sans-serif;
}

#abstractExample.collapse:not(.show) {
  display: block;

  /* height = lineheight * no of lines to display */
  height: 4.5em;
  overflow: hidden;
}

#abstractExample.collapsing {
  height: 4.5em;
}

#absShow.collapsed::after {
  content: "+ Show More";
}

#absShow:not(.collapsed)::after {
  content: "- Show Less";
}

body .carousel-control-next,
body .carousel-control-prev {
  width: 5%;
}

.icon_video,
.icon_cal {
  fill: var(--icon-color);
}

.icon_video:hover,
.icon_cal:hover {
  fill: #000;
}


.checkbox-paper {
  opacity: 0.2;
  color: gray;
  font-size: 18pt;
  font-weight: bold;
  cursor: pointer;
}


@supports (-webkit-text-stroke: 1px gray) {
  .checkbox-paper {
    opacity: 0.2;
    -webkit-text-stroke: 1px var(--accent-color);
    -webkit-text-fill-color: white;
  }

  .checkbox-paper.selected {
    opacity: 1;
    -webkit-text-fill-color: var(--accent-color);
    ;
  }
}

#calendar {
  font-family: "Fira Sans Condensed Light";
  font-size: 1.5em;
}

/* specific event colours are set in config.yml */
.tui-full-calendar-time-schedule-content, 
.tui-full-calendar-time-schedule-content-time {
  border-color: var(--main-border-color) !important;
  background-color: var(--main-bg-color);
}

.tui-full-calendar-time-date-schedule-block:hover  {
  color: var(--accent-color);
}