
.schedule {
    max-width: 1140px;
    display: grid;
    gap: 0.5em;
    grid-template-rows:
        [timezones] auto
        [tracks] auto
        [time-0730] 0.5fr
        [time-0745 time-0740] 0.5fr
        [time-0800 time-0750] 1.5fr
        [time-0845] 1.5fr
        [time-0930 time-0920 time-0910 time-0925] 0.5fr
        [time-0945] 0.5fr
        [time-1000] 3fr
        [time-1130 time-1120 time-1115 time-1125] 1fr
        [time-1200] 2fr
        [time-1300] 0.5fr
        [time-1315 time-1314] 0.5fr
        [time-1330 time-1320 time-1317] 1fr
        [time-1400] 2fr
        [time-1500] 1fr
        [time-1530] 1fr
        [time-1700 time-1800];

    grid-template-columns:
        [times] 5em
        [day-1-start] 1fr
        [day-1-end day-2-start] 1fr
        [day-2-end day-3-start] 1fr
        [day-3-end day-4-start] 1fr
        [day-4-end day-5-start] 1fr
        [day-5-end day-6-start] 1fr
        [day-6-end timezones] 5em
        [timezones-end];
}

/* one additional column; max 8 concurrent rooms */
.schedule.schedule-day {
    grid-template-columns:
        [times] 5em
        [room1-start] 1fr
        [room1-end room2-start] 1fr
        [room2-end room3-start] 1fr
        [room3-end room4-start] 1fr
        [room4-end room5-start] 1fr
        [room5-end room6-start] 1fr
        [room6-end room7-start] 1fr
        [room7-end room8-start] 1fr
        [room8-end timezones] 5em
        [timezones-end];
}

/* customize layout per-day */
#calendar-Tuesday {
    grid-template-columns:
        [times] 5em
        [room1-start] 1fr
        [room1-end room2-start] 1fr
        [room2-end room3-start] 1fr
        [room3-end room4-start] 1fr
        [room4-end room5-start] 1fr
        [room5-end timezones] 5em
        [timezones-end];
}

#calendar-Friday {
    grid-template-columns:
        [times] 5em
        [room1-start] 1fr
        [room1-end room2-start] 1fr
        [room2-end room3-start] 1fr
        [room3-end room4-start] 1fr
        [room4-end room5-start] 1fr
        [room5-end room6-start] 1fr
        [room6-end room7-start] 1fr
        [room7-end timezones] 5em
        [timezones-end];
}

.tz {
    display: flex;
    flex-direction: column;
    font-size: 0.85em;
    padding-bottom: 2em;
}

.tz-title {
    font-weight: 700;
}

.tz-right {
    /* text-align: right; */
    align-items: flex-end;
    align-content: stretch;
    grid-column: span 3 / timezones-end;
    grid-row: timezones;
    align-self: end;
}

.tz-right .dropdown.bootstrap-select {
    width: 300px !important; /* sigh */
}

.day-slot, .time-slot, .day-slot h2 {
    margin: 0;
    font-size: 1.1em;
    font-weight: 400;
    color: var(--text-dark-color);
}

.day-slot h2 a {
    color: var(--text-dark-color);
}

.day-slot h2 a:hover {
    color: var(--text-dark-color);
}

.time-slot.converted-timezone,
.tz:not(.tz-right) {
    color: var(--vis2021-purple);
}

.day-slot {
    padding-bottom: 0.5em;
    width: 100%;
    /* justify-self: center; */
    text-align: center;
    border-bottom: 1px dotted var(--vis2021-purple);
}

.day-slot a {
    cursor: pointer;
}

.time-slot:not(.converted-timezone) {
    grid-column: timezones;
    text-align: right;
}

.session {
    padding: 0.5em;
    font-size: 0.9em;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.day-slot a:hover,
.session-group:hover,
:not(.session-group) > .session:hover {
    opacity: 0.85;
}

.session.session-minimal {
    padding: 0.4em;
    /* display: none; */
}

.session-group {
    justify-self: center;
    display: flex;
    gap: 0.25em;
}
