{% set page_title = session.fullTitle %}
{% extends "2022/base.html" %}
{% block content %}

<div class="row mt-5">
    <div class="col-md-12">
        <h1>{{ session.fullTitle }}</h1>
        {% if session.chair %}
        <h2 class="text-muted">Session chair: {{ session.chair | join(", ") }}</h2>
        {% elif session.organizers %}
        <h2 class="text-muted">Organizers: {{ session.organizers | join(", ") }}</h2>
        {% endif %}
        <h3 class="text-muted format-date-span-full">{{ session.startTime }} &ndash; {{ session.endTime }}</h3>
        <h4 class="text-muted"><a href="https://ieeevis.b-cdn.net/vis_2022/ics/{{ session.id }}.ics">Add to Calendar</a></h4>
    </div>
</div>

<div class="row mt-5">
    <div class="col-lg-10">
        <!-- ensure 16x9 aspect ratio;
            add rel=0 query parameter to force related videos to stay within VIS2020: https://developers.google.com/youtube/player_parameters -->
        <iframe width="920" height="518" src="https://www.youtube-nocookie.com/embed/{{ session.youtube_id }}?rel=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p class="integration-description pt-2">Direct link to YouTube stream: <a href="{{ session.youtube_url }}">{{ session.youtube_url }}</a></p>
    </div>
</div>
{% if session.discord_channel_FAKE %}
<div class="row my-3">
    <div class="col-lg-10">
        <iframe src="https://titanembeds.com/embed/741879515013316629?theme=DiscordDark&defaultchannel={{ session.discord_channel_id }}" width="920" height="518" frameborder="0"></iframe>
        <p class="integration-description pt-2">You can also join this channel in your native Discord application by <a href="https://discord.gg/dxy2Uxp" target="_blank">connecting to the server</a> and joining the <emph>#{{ session.discord_channel }}</emph> channel.  <a href="/help.html#tab-discord" target="_blank">Help &raquo;</a></p>
    </div>
</div>
{% endif %}

<hr>

<div class="row">
    <div class="col-md-3">
        <img class="img-fluid mx-auto d-block"
             src="{{ session.speaker.image }}"
             alt=""
             style="max-height: 250px;"
        >
    </div>
    <div class="col-md-9 py-2 py-md-0">
        <h3>{{ session.speaker.name }}</h3>
        <h4> {{ session.speaker.title }}</h4>
        <p>{{ session.speaker.abstract }}</p>
        <h4> About</h4>
        <p>{{ session.speaker.bio }}</p>
    </div>

</div>

{% endblock %}

