{% set page_title = "All events at IEEE VIS 2020" %}
{% extends "base.html" %}
{% block content %}

{% for event in events %}
<div class="row mt-5">
    <div class="col-md-12 session-listing" style="border-color: {{ colors[event.abbr_type] }};">
        <span class="session-type" style="color: {{ colors[event.abbr_type] }}">{{ event.type }}</span>
        <h2><a href="event_{{event.id}}.html">{{ event.title }}</a></h2>
        {% if event.url %}
        <h3>More info: <a href="{{ event.url }}">{{ event.url }}</a></h3>
        {% endif %}
        <h3 class="text-muted format-date-span-full">{{ event.startTime }} &ndash; {{ event.endTime }}</h3>
    </div>
</div>
{% endfor %}


{% endblock %}