{% set active_page = "Home" %}
{% extends "base.html" %}

{% block top %}
<style>
  .back {
    background: url("{{config.background_image}}") no-repeat center;
    background-size: cover;
  }
  .back h2 {
    font-family: "Zilla Slab", sans-serif;
    font-weight: 900;
  }
  /* body {
    font-family: "Fira Sans", sans-serif;
  } */
</style>

<div class="jumbotron jumbotron-fluid back" style="padding-bottom: 20px;">
  <div class="row header p-6 m-5">
    <div class="p-1 mx-auto text-center text-white col-md-6 col-sm-9">
      <h2 class="jumbotron-h">
        {{config.tagline|safe}}
      </h2>
      <h3 class="p-5 jumbotron-date">
        {{config.date|safe}}
      </h2>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
    <h1>Welcome to Vis 2020 Virtual<span class="secret">, <span class="user_name"></span> </span>!</h1>

    <button class="loginBtn btn btn-outline-secondary"> Login here </button>
    <button class="logoutBtn btn btn-outline-secondary" style="display: none;"> Logout </button>


{{ readme | markdown }}

<!-- Organizers -->
{#
  {{ components.section("Organizers") }}
  {{ components.organizergroup(committee) }}
#}

{% endblock %}
