{% set page_title = "All events at IEEE VIS 2024" %}
{% set active_page = "All Events" %}
{% extends "2024/base.html" %}
{% block content %}
    <div class="row">
      <!-- Note that the timings for events are still subject to change until the conference begins. -->
      The full list of events is not yet available for the 2024 conference.
    </div>
    <div class="row">
        <button class="event-faceting btn m-1 p-2 pp-card session-listing"
                id="start-item"
                style="border-color: #666;
                        transition-duration: 300ms;"
                data-bg-color="#666"
                data-key="all"
        >all
        </button>
        {% for et in event_types %}
            <button class="event-faceting btn m-1 p-2 pp-card session-listing"
                    style="color: {{ colors[et[1]] }}; border-color: {{ colors[et[1]] }};
                            transition-duration: 300ms;"
                    data-bg-color="{{ colors[et[1]] }}"
                    data-key="{{ et[0] }}"
            >{{ et[0] }}</button>
        {% endfor %}
    </div>

    <script>
      let currentItem = null;
      d3.select("#start-item").each(function () {
        currentItem = this;
        const t = d3.select(this);
        t.style("background-color", t.attr('data-bg-color'))
          .style('color', '#fff');
      });
      d3.selectAll(".event-faceting")
        .on("mouseover", function () {
          const t = d3.select(this);
          if (this === currentItem) return;
          t.style("background-color", t.attr('data-bg-color'))
          t.style("color", t.attr('#fff'))
        })
        .on("mouseout", function () {
          const t = d3.select(this);
          if (this === currentItem) return;
          t.style("background-color", null)
          t.style("color", t.attr('data-bg-color'))
        })
        .on("click", function () {
          const that = this;
          currentItem = that;
          d3.selectAll(".event-faceting")
            .style("background-color", function () {
              return (this === that) ? d3.select(this)
                .attr('data-bg-color') : null
            })
            .style("color", function () {
              return (this === that) ? "#fff" : d3.select(this)
                .attr('data-bg-color')
            })

          const key = d3.select(this).attr("data-key");
          d3.selectAll(".event-card-wrapper")
            .style('display', function () {
              if (key === 'all') return null;
              const myKey = d3.select(this).attr('data-session-type');
              return (myKey === key) ? null : 'none';
            })

        })

    </script>

<!--     <div class="row mt-5">
        {% for event in events %}
        {% if event.id != "v-demo" %}
        {% include "2024/_event_item.html" %}
        {% endif %}
        {% endfor %}
    </div>
 -->

{% endblock %}
