{% set active_page = "Papers" %}
{% set page_title = "Papers" %}

{% extends "2024/base.html" %}
{% block head %}
    {{ super() }}
    <script src="/static/2024/js/modules/icons.js"></script>

{% endblock %}

{% block tabs %}
    {#    <div class="justify-content-center">#}

    <div class="row mb-3">
        <div class="col-md-9">
            <h2>VIS Papers</h2>
            <p>The following VIS papers have been accepted to the 2024 VIS conference.  Additional information, including scheduling and session data as well as accepted works from workshops and other associated events will be available from this page in the future.</p>
<!--             <p>
                To see the <strong>livestream</strong> for the paper presentations, navigate to the room page for the associated session.<br/>
                To see the <strong>recording</strong> (available shortly after the livestream), navigate to the associated session page.<br/>
                Fast forwards are available for both individual presentations and sessions as a whole on their respective pages.  The collection of fast forwards for all talks can be <a href=https://www.youtube.com/watch?v=uKRjIMEWoXU target='_blank'>viewed on youtube directly.</a>
            </p>
 -->        

        <p>Note: You may bookmark papers from this page.  Bookmarks are stored <b>locally</b> in your browser and so will not be shared between your personal devices.</p>
        </div>
    </div>

    <div class="d-flex justify-content-between">
        {#        <div></div>#}
        <ul class="nav nav-pills">
            <li class="nav-item active">
                <a
                        class="nav-link text-muted active"
                        data-toggle="tab"
                        href="#tab-browse"
                        role="tab"
                        aria-controls="nav-home"
                        aria-selected="true"
                >Browse
                </a>
            </li>
<!--             <li class="nav-item">
                <a class="nav-link text-muted" href="paper_vis.html">Visualization</a>
            </li>
 -->        </ul>
        {#    </div>#}
        <div class="nav float-right d-none d-md-block">
            <div
                    class="btn-group btn-group-toggle render_option"
                    data-toggle="buttons"
            >
                <label class="btn btn-outline-secondary active">
                    <input type="radio" name="options" value="mini"
                           autocomplete="off"/>
                    mini
                </label>
                <label class="btn btn-outline-secondary active">
                    <input
                            type="radio"
                            name="options"
                            value="compact"
                            autocomplete="off"
                            checked
                    />
                    compact
                </label>
                <label class="btn btn-outline-secondary">
                    <input
                            type="radio"
                            name="options"
                            value="detail"
                            autocomplete="off"
                    />
                    detail
                </label>
            </div>
        </div>
    </div>

{% endblock %}

{% block content %}
    <div class="row"></div>

    <!-- Session -->
    <div class="row d-none session_notice">
        <div
                class="alert alert-warning alert-dismissible fade show col-12"
                role="alert"
        >
            Showing papers for
            <span id="session_name" style="font-weight: bold;"></span>.
            <button
                    type="button"
                    class="close remove_session"
                    data-dismiss="alert"
                    aria-label="Close"
            >
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>

    <!-- Buttons -->
    <div class="row mt-3 mb-4">
        <div class="col-12 col-sm-12 col-md-8 col-lg-7">
            <div class="input-group mb-3">
                <input
                        type="text"
                        class="form-control typeahead_all"
                        placeholder="Find"
                />
                <div class="input-group-append">
                    <button
                            class="btn btn-outline-secondary typeahead_all_clear"
                            type="button"
                    >
                        &times;
                    </button>
                </div>
                <strong style="align-self: center;">&nbsp;&nbsp;by&nbsp;&nbsp;</strong>
                <div class="btn-group btn-group-toggle filter_option">
                    <label
                            class="btn btn-outline-secondary"
                            data-tippy-content="Search for papers titles"
                    >
                        <input type="radio" name="options" value="titles"
                               autocomplete="off" checked/>
                        title
                    </label>
                    <label
                            class="btn btn-outline-secondary"
                            data-tippy-content="Search for papers with specific keywords"
                    >
                        <input
                                type="radio"
                                name="options"
                                value="keywords"
                                autocomplete="off"
                        />
                        keyword
                    </label>
                    <label
                            class="btn btn-outline-secondary active"
                            data-tippy-content="Search for papers from specific authors"
                    >
                        <input type="radio" name="options" value="authors"
                               autocomplete="off"/>
                        author
                    </label>
                    <label
                            class="btn btn-outline-secondary"
                            data-tippy-content="Search for papers by a session title"
                    >
                        <input type="radio" name="options" value="sessions"
                               autocomplete="off"/>
                        session
                    </label>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-5">
            <div class="form-row">
                <button class="col btn btn-outline-secondary reshuffle">
                    shuffle
                </button>
                <div class="my-2 ml-2">by</div>
                <div class="formGroup col">
{#                    <label for="sortSel">sort by:</label>#}
                    <select class="form-control" id="sortBy">
                        <option value="random">serendipity </option>
                        <option value="bookmarked">bookmarked first</option>
                        <option value="visited">visited first</option>
                        <option value="visited_not">not visited first</option>
                        <option value="todo">todo first</option>
                    </select>

                </div>
            </div>

            {#            <div class="float-right">#}
            {#                <div#}
            {#                        class="btn-group btn-group-toggle render_option"#}
            {#                        data-toggle="buttons"#}
            {#                >#}
            {#                    <label class="btn btn-outline-secondary active">#}
            {#                        <input type="radio" name="options" value="mini"#}
            {#                               autocomplete="off"/>#}
            {#                        mini#}
            {#                    </label>#}
            {#                    <label class="btn btn-outline-secondary active">#}
            {#                        <input#}
            {#                                type="radio"#}
            {#                                name="options"#}
            {#                                value="compact"#}
            {#                                autocomplete="off"#}
            {#                                checked#}
            {#                        />#}
            {#                        compact#}
            {#                    </label>#}
            {#                    <label class="btn btn-outline-secondary">#}
            {#                        <input#}
            {#                                type="radio"#}
            {#                                name="options"#}
            {#                                value="detail"#}
            {#                                autocomplete="off"#}
            {#                        />#}
            {#                        detail#}
            {#                    </label>#}
            {#                </div>#}
            {#            </div>#}
        </div>
    </div>

    <!-- Cards -->
    <div class="cards row"></div>
    <script src="/static/2024/js/modules/urlParams.js"></script>
    <script src="/static/2024/js/modules/typeaheadSetup.js"></script>
    <script src="/static/2024/js/modules/lazyLoad.js"></script>
    <script src="/static/2024/js/data/wrangle.js"></script>
    <script src="/static/2024/js/views/papers.js"></script>
    <script>
      $(document).ready(function () {
        tippy("[data-tippy-content]", {trigger: "mouseenter focus"});
        start();
      });
    </script>

    <script>
      let currentItem = null;
      d3.select("#start-item").each(function () {
        currentItem = this;
        const t = d3.select(this);
        t.style("background-color", t.attr('data-bg-color'))
          .style('color', '#fff');
      });
      d3.selectAll(".paper-faceting")
        .on("mouseover", function () {
          const t = d3.select(this);
          if (this === currentItem) return;
          t.style("background-color", t.attr('data-bg-color'))
          t.style("color", t.attr('#fff'))
        })
        .on("mouseout", function () {
          const t = d3.select(this);
          if (this === currentItem) return;
          t.style("background-color", null)
          t.style("color", t.attr('data-bg-color'))
        })
        .on("click", function () {
          const that = this;
          currentItem = that;
          d3.selectAll(".paper-faceting")
            .style("background-color", function () {
              return (this === that) ? d3.select(this)
                .attr('data-bg-color') : null
            })
            .style("color", function () {
              return (this === that) ? "#fff" : d3.select(this)
                .attr('data-bg-color')
            })

          const key = d3.select(this).attr("data-key");
          d3.selectAll(".paper-card-wrapper")
            .style('display', function () {
              if (key === 'all') return null;
              const myKey = d3.select(this).attr('data-paper-type');
              return (myKey === key) ? null : 'none';
            })

        })

    </script>

{% endblock %}

{% block footer %}

    {{ super() }}

{% endblock %}
