{% set page_title = "All events at IEEE VIS 2020" %}
{% set active_page = "All Events" %}
{% extends "base.html" %}
{% block content %}

    <div class="row">
        <button class="event-faceting btn m-1 p-2 pp-card session-listing"
                id="start-item"
                style="border-color: #666;
                        transition-duration: 300ms;"
                data-bg-color="#666"
                data-key="all"
        >all
        </button>
        {% for et in event_types %}
            <button class="event-faceting btn m-1 p-2 pp-card session-listing"
                    style="color: {{ colors[et[1]] }}; border-color: {{ colors[et[1]] }};
                            transition-duration: 300ms;"
                    data-bg-color="{{ colors[et[1]] }}"
                    data-key="{{ et[0] }}"
            >{{ et[0] }}</button>
        {% endfor %}
    </div>

    <script>
      let currentItem = null;
      d3.select("#start-item").each(function () {
        currentItem = this;
        const t = d3.select(this);
        t.style("background-color", t.attr('data-bg-color'))
          .style('color', '#fff');
      });
      d3.selectAll(".event-faceting")
        .on("mouseover", function () {
          const t = d3.select(this);
          if (this === currentItem) return;
          t.style("background-color", t.attr('data-bg-color'))
          t.style("color", t.attr('#fff'))
        })
        .on("mouseout", function () {
          const t = d3.select(this);
          if (this === currentItem) return;
          t.style("background-color", null)
          t.style("color", t.attr('data-bg-color'))
        })
        .on("click", function () {
          const that = this;
          currentItem = that;
          d3.selectAll(".event-faceting")
            .style("background-color", function () {
              return (this === that) ? d3.select(this)
                .attr('data-bg-color') : null
            })
            .style("color", function () {
              return (this === that) ? "#fff" : d3.select(this)
                .attr('data-bg-color')
            })

          const key = d3.select(this).attr("data-key");
          d3.selectAll(".event-card-wrapper")
            .style('display', function () {
              if (key === 'all') return null;
              const myKey = d3.select(this).attr('data-session-type');
              return (myKey === key) ? null : 'none';
            })

        })

    </script>

    <div class="row mt-5">
        {% for event in events %}
            <div class="col-md-6 p-2 event-card-wrapper"
            data-session-type="{{ event.type }}"
            >
            <div class="event-card pp-card p-2 session-listing"
                 style="border-color: {{ colors[event.abbr_type] }};
                         background-color: #fff; margin-bottom: 0;"
                 data-session-type="{{ event.type }}"

            >
                <span class="session-type"
                      style="color: {{ colors[event.abbr_type] }}">{{ event.type }}</span>
                <div class="event-title">
                    <a class="event-title" href="event_{{ event.id }}.html">{{ event.title }}</a>
                </div>
                {% if event.url %}
                    <div class="event-url"><a href="{{ event.url }}">
                            <span class="fas mr-1">&#xf05a;</span> 
                            {{ event.url }}</a></div>
                {% endif %}
                <div class="event-time format-date-span-short">
                    {{ event.startTime }} – {{ event.endTime }}</div>
                {#                </div>#}
            </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}
