{% set active_page = "Posters" %}
{% set page_title = "Posters" %}

{% extends "2021/base.html" %}
{% block head %}
    {{ super() }}
    <script src="/static/2021/js/modules/icons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <h2>VIS Posters</h2>
            <p>The VIS poster session will be held synchronously on <span class="format-date-span-full">2021-10-27T19:00:00Z &ndash; 2021-10-27T20:30:00Z</span>.</p>
            <p>You may also comment asynchronously on each poster by commenting in the associated Discord channel, accessible at the bottom of each poster page.</p>
        </div>
    </div>

    <!-- Buttons -->
    <div class="row mt-3 mb-4">
        <div class="col-12 col-sm-12 col-md-8 col-lg-7">
            <div class="input-group mb-3">
                <input
                        type="text"
                        class="form-control typeahead_all"
                        placeholder="Find"
                />
                <div class="input-group-append">
                    <button
                            class="btn btn-outline-secondary typeahead_all_clear"
                            type="button"
                    >
                        &times;
                    </button>
                </div>
                <strong style="align-self: center;">&nbsp;&nbsp;by&nbsp;&nbsp;</strong>
                <div class="btn-group btn-group-toggle filter_option">
                    <label
                            class="btn btn-outline-secondary"
                            data-tippy-content="Search for poster titles"
                    >
                        <input type="radio" name="options" value="titles"
                               autocomplete="off" checked/>
                        title
                    </label>
                    <!--<label
                            class="btn btn-outline-secondary"
                            data-tippy-content="Search for posters with specific keywords"
                    >
                        <input
                                type="radio"
                                name="options"
                                value="keywords"
                                autocomplete="off"
                        />
                        keyword
                    </label>-->
                    <label
                            class="btn btn-outline-secondary active"
                            data-tippy-content="Search for posters from specific authors"
                    >
                        <input type="radio" name="options" value="authors"
                               autocomplete="off"/>
                        author
                    </label>
                    <label
                            class="btn btn-outline-secondary"
                            data-tippy-content="Search for papers by a session title"
                    >
                        <input type="radio" name="options" value="sessions"
                               autocomplete="off"/>
                        session
                    </label>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-5">
            <div class="form-row">
                <button class="col btn btn-outline-secondary reshuffle">
                    shuffle
                </button>
                <div class="my-2 ml-2">by</div>
                <div class="formGroup col">
{#                    <label for="sortSel">sort by:</label>#}
                    <select class="form-control" id="sortBy">
                        <option value="random">serendipity </option>
                        <option value="bookmarked">bookmarked first</option>
                        <option value="visited">visited first</option>
                        <option value="visited_not">not visited first</option>
                        <option value="todo">todo first</option>
                    </select>

                </div>
            </div>

            {#            <div class="float-right">#}
            {#                <div#}
            {#                        class="btn-group btn-group-toggle render_option"#}
            {#                        data-toggle="buttons"#}
            {#                >#}
            {#                    <label class="btn btn-outline-secondary active">#}
            {#                        <input type="radio" name="options" value="mini"#}
            {#                               autocomplete="off"/>#}
            {#                        mini#}
            {#                    </label>#}
            {#                    <label class="btn btn-outline-secondary active">#}
            {#                        <input#}
            {#                                type="radio"#}
            {#                                name="options"#}
            {#                                value="compact"#}
            {#                                autocomplete="off"#}
            {#                                checked#}
            {#                        />#}
            {#                        compact#}
            {#                    </label>#}
            {#                    <label class="btn btn-outline-secondary">#}
            {#                        <input#}
            {#                                type="radio"#}
            {#                                name="options"#}
            {#                                value="detail"#}
            {#                                autocomplete="off"#}
            {#                        />#}
            {#                        detail#}
            {#                    </label>#}
            {#                </div>#}
            {#            </div>#}
        </div>
    </div>

    <!-- Cards -->
    <div class="cards row"></div>
    <script src="/static/2021/js/modules/urlParams.js"></script>
    <script src="/static/2021/js/modules/typeaheadSetup.js"></script>
    <script src="/static/2021/js/modules/lazyLoad.js"></script>
    <script src="/static/2021/js/data/persistor.js"></script>
    <script src="/static/2021/js/data/wrangle.js"></script>
    <script src="/static/2021/js/views/papers.js"></script>
    <script>
      $(document).ready(function () {
        tippy("[data-tippy-content]", {trigger: "mouseenter focus"});
        start(true /* isPosters */);
      });
    </script>

{% endblock %}

{% block footer %}

    {{ super() }}
    <div
            class="gdpr bg-dark text-light"
            style="padding: 10pt; position: fixed; bottom: 0; display: none;"
    >
        We use cookies to store which posters have been visited.
        <div class="gdpr-btn btn btn-sm btn-info" style="margin-left: 15pt;">
            I agree
        </div>
    </div>
    <script src="/static/2021/js/modules/gdprCookies.js"></script>

{% endblock %}
