{% set active_page = "Schedule" %}
{% set page_title = "Schedule" %}
{% extends "2023/base.html" %}
{% block head %}
{{ super() }}
{% include '2023/schedule_head.html' %}
{% endblock %}

{% block content %}
    <div id="small-program-link">
        <a href="http://ieeevis.org/year/2023/assets/vis2023-program.pdf" target="_blank">Click here to open week at a glance PDF.</a>

    </div>
    <div class="tab-content py-3 px-3 px-sm-0 d-none d-md-block" id="nav-tabContent">
        {% include '2023/calendars/_full_size_calendar.html' %}
    </div>
    <div class="d-md-none">
        {% include '2023/calendars/_mobile_calendar.html' %}
    </div>
{% endblock %}
