{% set page_title = session.fullTitle %}
{% set active_page = "All Events" %}

{% set social_title = "Session: " ~ session.fullTitle %}
{% set social_description = "See the session and its presentations inside." %}

{% extends "2023/base.html" %}
{% block content %}

<div class="row mt-3">
    <div class="col-md-8">
        <nav class="nav-breadcrumb mb-3" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page"><a href="events.html">All events</a></li>
                <li class="breadcrumb-item"><a href="event_{{ session.parent_id }}.html">{{ session.event }}</a></li>
                <li class="breadcrumb-item active text-truncate" aria-current="page">{{ session.title }}</li>

            </ol>
        </nav>

        <h1 class="session-title">{{ session.fullTitle }}</h1>
        {% if session.event_url != "N/A" %}
        <h3 class="session-url">
            <a href="{{ session.event_url }}" target="_blank">
                <span class="fas mr-1">&#xf57c;</span>
                {{ session.event_url }}</a>
        </h3>
        {% endif %}
        {% if session.chair %}
        <h3 class="session-chair">
            <span class="fas mr-1">&#xf007;</span>
            Session chair: {{ session.chair | join(", ") }}
        </h3>
        {% elif session.organizers %}
        <h3 class="session-chair">
            <span class="fas mr-1">&#xf0c0;</span>
            Organizers: {{ session.organizers | join(", ") }}
        </h3>
        {% endif %}

        <h3 class="session-room mt-4">
            <span class="fas mr-1">&#xf108;</span>
            Room: {{ room.name }}
        </h3>
        <h3 class="session-date">
            <span class="fas mr-1">&#xf017;</span>
            <span class="format-date-span-full">{{ session.startTime }} &ndash; {{ session.endTime }}</span>
            <span alt="Change timezone on schedule page" class="timezone tztooltip">
                <strong>GMT<span class="selectedTimezone">-0600</span></strong>
                <span class="tztooltiptext">Change your timezone on the schedule page</span>
            </span>
            <br>
            <span style="margin-left: 2rem; font-size: 1rem;" class="timezone tztooltip">
                <span class="relative-time">{{ session.startTime }} &ndash; {{ session.endTime }}</span>
                <span class="current-time tztooltiptext"></span>
            </span>
        </h3>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3 session-links">
        <h5 class="session-info my-4">
            <a href="#list">
                <span class="fas mr-2">&#xf358;</span>
                Jump to event listing
                </a>
        </h5>
        {% if session.ff_playlist %}
        <h5 class="session-info my-4">
            <a href="#ff">
                <span class="fas mr-2">&#xf87c;</span>
                Jump to Fast Forwards
                </a>
        </h5>
        {% endif %}
        <h5 class="session-info my-4">
            <a href="https://ieeevis.b-cdn.net/vis_2023/ics/{{ session.id }}.ics">
                <span class="fas mr-2">&#xf073;</span>
                Add to Calendar</a></h5>
        {% if session.id == "full0" %}
            <div class="alert alert-primary session-sponsor-alert">
                <h5 class="session-sponsor">
                    <div>
                        <span class="fas mr-1">&#xf164;</span>
                        Session Sponsor
                    </div>
                    <div>
                        <!-- KAUST Best Papers 1 Sponsor -->
                        <a href="http://vcc.kaust.edu.sa/">
                          <img class="my-3 mr-3" src="https://ieeevis.b-cdn.net/vis_2023/sponsors/vcc_kaust.png" width="220" alt="KAUST"></a>
                    </div>
                    <div class="session-sponsor-name">KAUST</div>
                </h5>
            </div>
        {% elif session.id == "full12" %}
            <div class="alert alert-primary session-sponsor-alert">
                <h5 class="session-sponsor">
                    <div>
                        <span class="fas mr-1">&#xf164;</span>
                        Session Sponsor
                    </div>
                    <!-- JPMorgan Chase Immersive Analytics Sponsor -->
                    <div>
                        <a href="https://www.jpmorganchase.com/">
                          <img class="my-3 mr-3" src="https://ieeevis.b-cdn.net/vis_2023/sponsors/jpmchase_transparent2.png" width="220" alt="JPMorgan Chase"></a>
                    </div>
                    <div>
                        JPMorgan Chase
                    </div>
                </h5>
            </div>
        {% endif %}


    </div>
</div>

{% if session.abstract %}
<div class="row">
    <div class="col-md-8">
        <p>{{ session.abstract }}</p>
    </div>
</div>
{% endif %}

{% if false and session.zoom_meeting and session.timeSlots %}
<div id="zoom_alert" class="row mt-5 mb-3">
    <div class="col-lg-10">
        <div class="alert alert-primary">
            {% if session.timeSlots[0].type == "Zoom Only" %}
            <p class="mb-0">This session takes place on Zoom only; a link will become available within 15 minutes of the session start.</p>
            <div id="zoom_link">
                <p class="mt-2 mb-0">
                    <span class="zoom-time d-none">{{ session.startTime }} &ndash; {{ session.endTime }}</span>
                    <a class="alert-link" href="{{ session.zoom_meeting }}" target="_blank">Click here to join</a>.
                </p>
            </div>
            {% else %}
            <p class="mb-0">You can join via Zoom for hands-on activities; a link will become available within 15 minutes of session start.</p>
            <div id="zoom_link">
                <p class="mt-2 mb-0">
                    <span class="zoom-time d-none">{{ session.startTime }} &ndash; {{ session.endTime }}</span>
                    <a class="alert-link" href="{{ session.zoom_meeting }}" target="_blank">Click here to join</a>
                </p>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}
<div class="row">
    <div class="col-md-8 mt-5 mb-2">

            {% if session.youtube_rec_id %}
                <div class="row my-4">
                    <div class="col-lg-10">
                        <h2 class="my-3"><a name="ff">Session Recording</a></h2>
                
                        <iframe width="920" height="518" src="https://www.youtube-nocookie.com/embed/{{ session.youtube_rec_id }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 

                    </div>
                </div>
                
            {% elif session.youtube_id %}
            <div class="past_session_alert alert alert-success" role="alert">
                Recorded video from this session can be viewed in the daily recording of the room.
                <br/>
                <a href='{{session.youtube_url}}' target='_blank'>{{session.youtube_url}}</a>
            </div>
            {% endif %}
    </div>
</div>

<hr>

{% if session.timeSlots %}
<div class="row my-4">
    <div class="col-md-8">
        <h2 class="room_session_descriptor d-block py-2"><a name="list">Presentations in this session:</a></h2>
    </div>
</div>

{% for timeslot in session.timeSlots %}
<div class="row mb-4">
    <div class="col-md-8 session-listing">
        {% if timeslot.uid %}
            <h3 class="session-list-title">
                {% if 'poster' in timeslot.uid %}
                <a href="poster_{{ timeslot.uid }}.html">
                    {{ timeslot.title }}
                    <span class="fas mr-1">&#xf0c1;</span>
                </a>
                {% else %}
                <a href="paper_{{ timeslot.uid }}.html">
                    {{ timeslot.title }}
                    <span class="fas mr-1">&#xf0c1;</span>
                </a>
                {% endif %}
            </h3>
        {% else %}
        <h3 class="session-list-title">{{ timeslot.title }}</h3>
        {% endif %}
        <h5 class="session-list-presenter">
            Authors: {{ timeslot.authors | join(", ") }}
        </h5>
        <h4 class="session-list-presenter mt-3">
            <span class="fas mr-1">&#xf21d;</span>
            {{ timeslot.contributors | join(", ") }}
        </h4>
        <h5 class="session-list-time">
            <span class="fas mr-1">&#xf017;</span>
            <span class="format-date-span">{{ timeslot.time_start }} &ndash; {{ timeslot.time_end }}</span>
            <span alt="Change timezone on schedule page" class="timezone tztooltip">
                <strong>GMT<span class="selectedTimezone">-0600</span></strong>
                <span class="tztooltiptext">Change your timezone on the schedule page</span>
            </span>
        </h5>
    </div>
</div>
{% endfor %}
{% endif %}

{% if session.youtube_ff_id %}
<hr>
<div class="row my-4">
    <div class="col-lg-10">
        <h2 class="my-3"><a name="ff">Fast forwards in this session</a></h2>
        <iframe width="920" height="518" src="https://www.youtube-nocookie.com/embed/{{ session.youtube_ff_id }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 

    </div>
</div>
{% elif session.ff_playlist %}
<hr>
<div class="row my-4">
    <div class="col-lg-10">
        <h2 class="my-3"><a name="ff">Fast forwards in this session</a></h2>
        <!--<iframe width="920" height="518" src="https://www.youtube-nocookie.com/embed/videoseries?list={{ session.ff_playlist_id }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <p class="integration-description pt-2">Direct link to playlist: <a href="{{ session.ff_playlist }}" target="_blank">{{ session.ff_playlist }}</a></p>
    </div>
</div>
{% endif %}

<div class="row my-5">
    <div class="col-md-8">
        <p>You may want to also jump to the parent event to see related presentations: <a href="event_{{ session.parent_id }}.html">{{ session.event }}</a></p>
    </div>
</div>


<div class="row my-5">
    <div class="col-md-8">
        <p>If there are any issues with the virtual streaming site, you can try to access the <span class="fas mx-1">&#xf086;</span><a href="{{session.discord_link}}" target="_blank">Discord</a> and <span class="fas mx-1">&#xf128;</span><a href="{{session.slido_link}}" target="_blank">Slido</a> pages for this session directly.</p>
    </div>
</div>


<script src="/static/2023/js/views/timezone.js"></script>

{% endblock %}

{% block footer %}

    {{ super() }}
<script>

$(document).ready(function() {
    setInterval(updateSessionStatus, 30 * 1000);
    updateSessionStatus(true)
})

function updateSessionStatus(onFirstLoad) {
    // We need to write the session timings into the page to calculate current/next session.
    // See blueprint_2023.py
    startTime = '{{session.startTime}}'
    endTime = '{{session.endTime}}'

    // We take a 15 minute grace period to the start of a session
    const sessionStart = moment(startTime).tz(current_timezone).subtract(15, 'minutes');
    const sessionEnd = moment(endTime).tz(current_timezone);

    const sessionIsCurrent = moment().tz(current_timezone).isBetween(sessionStart, sessionEnd);
    const sessionIsFuture = moment().tz(current_timezone).isBefore(sessionStart);
    const sessionIsPast = moment().tz(current_timezone).isAfter(sessionStart);

    const classesToHide = ['.future_session_alert', '.current_session_alert', '.past_session_alert', '.room_session_stream']
    classesToHide.forEach((c) => { $(c).hide();});
    if (sessionIsCurrent) {
        $('.current_session_alert').show();
    } else if (sessionIsFuture) {
        $('.future_session_alert').show();
    } else {
        // Session is in the future
        $('#zoom_alert').hide();
        $('.past_session_alert').show();
        $('.room_session_stream').show();
    }

    // Update youtube link for older sessions
    // EDIT - We don't need this when the conference isn't live
    // if(sessionIsPast){
    //     const roomidjson = "{{room.id}}-"+moment(startTime).format('ddd').toLowerCase()+".json"
    //     // console.log("this session was in:" , roomidjson)

    //     return fetch("https://virtual-data.ieeevis.org/"+roomidjson, {cache: "no-store"})
    //     .then(response => response.json())
    //     .then(data => {
    //         //console.log(data)
    //         // console.log('youtube_url: ' + data.youtube_url)
    //         //$("ytold").attr("href",data.youtube_url)

    //         // clear link element to avoid multiple appends
    //         document.getElementById("ytold").innerHTML = '';

    //         // TOREMOVE Special case handling with two streams
    //         if(roomidjson=="ok5-mon.json"){
    //             var a = document.createElement('a'); 
    //             var link = document.createTextNode("https://youtu.be/R4VnLGyeBfg");  
    //             a.appendChild(link); 
    //             a.title = "YouTube Link 1"; 
    //             a.href = "https://youtu.be/R4VnLGyeBfg"; 
    //             document.getElementById("ytold").appendChild(a);
    //             document.getElementById("ytold").appendChild(document.createElement('br'));
    //         }

    //         var a = document.createElement('a'); 
    //         var link = document.createTextNode(data.youtube_url);  
    //         a.appendChild(link); 
    //         a.title = "YouTube Link"; 
    //         a.href = data.youtube_url; 
            
    //         document.getElementById("ytold").appendChild(a);

            

    //     })
    //     .catch(error => {
    //         console.log("err: ", error);
    //     })
    // }
    

}

</script>

{% endblock %}